body{
    margin: 0;
    background: darkgrey;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalButtons{
    display: flex;
    flex-direction: column;
}

button{
    border:none;
    border-radius: 2vw;
    margin: 1vw;
    padding: 0.5vw 0.5vw 1vw 0.5vw;
    cursor: pointer;
}

#networkCanvas{
    background: black;
}

#carCanvas{
    background: lightgray;
}